/emacs/bookmarks
/emacs/url/cache
/emacs/.emacs.desktop
/emacs/auto-save-list
/emacs/network-security.data
/emacs/.session
/emacs/session.*
/emacs/custom.el
/emacs/*.elc
/emacs/CVS
/emacs/.svn
/emacs/*~
/emacs/.cvsignore
/emacs/.*.lock
/emacs/tramp
/emacs/TODO
/emacs/anything-c-adaptive-history
/emacs/.org-id-locations
/emacs/cookies
/emacs/newsticker
/emacs/ac-comphist.dat
/emacs/\#*
/emacs/elpa
/emacs/elpa-*
/emacs/site-lisp/package/
/emacs/swank
/emacs/.mc-lists.el
/emacs/var
/emacs/.sqli_history
/emacs/frame-restore-parameters
/emacs/.achievements
/emacs/.bookmarks.el
/emacs/history
/emacs/helm-adaptive-history
/emacs/thumbs/
/emacs/emms/
/emacs/.smex-items
/emacs/image-dired/
/emacs/eshell
/emacs/.cask/
/emacs/.sx/
/emacs/org-clock-save.el
/emacs/ditaa*.jar
/emacs/ido.last
/emacs/recentf
/emacs/viper
/emacs/projectile-bookmarks.eld
/emacs/anaconda-mode/
/emacs/.historian
/emacs/.uptimes.el
/emacs/rake.cache
/emacs/plantuml.jar
/emacs/magithub
